<p id="notice"><%= notice %></p>

<h1>Listing Donuts</h1>

<div ng-app="donutApp">
  <div ng-controller="indexController">
    <div ui-grid="gridOptions" class="donutGrid"></div>
  </div>
</div>

<br>

<%= link_to 'New Donut', new_donut_path %>
